@import "../../styles/mixins";
@import "../../styles/variables";

.CountrySection {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  grid-column: 1 / 9;

  &__navBtn {
    /* button is hardcoded left margin*/
    margin: 5vh 6vw;

    @include small {
      margin: 6vh 8vw 8vh;
    }
  }
}
