.CountryCardDetails {
  border: 3px solid orange;
  display: flex;
  justify-content: center;

  &__imageFrame {
    margin-right: 10%;
    position: relative;
    width: 25vw;
    height: 35vh;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  &__image {
    object-fit: cover;
  }
}
