.CountryCardDetails {
  border: 3px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;

  &__imageFrame {
    margin-right: 5%;
    position: relative;
    width: 40%;
    height: 100%;

    border: 1px solid maroon;
  }

  &__image {
    object-fit: cover;
  }

  &__textcontent {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border: 1px solid orange;
    width: 45%;
    font-size: 1.6rem;

    &__name {
      font-size: 3rem;
      margin: 2rem 0;
    }

    &__inline {
      display: inline;
    }

    &__info {
      display: flex;

      border: 1px solid blue;

      & > * {
        width: 50%;
      }

      &__detail {
        font-weight: 600;

        margin: 0.5rem 0;
        display: flex;

        & > span {
          margin-right: 0.25vw;
        }
      }

      &__value {
        font-weight: 300;
        margin-left: 0.25vw;
        display: inline;

        & ~ li {
          &:not(:last-child) {
            &:after {
              content: ", ";
            }
          }
        }
      }

      &__infolist {
        border: 2px solid red;
      }
    }

    &__borders {
      display: flex;
      flex-direction: row;

      &__title {
        font-weight: 600;
        margin-right: 0.5vw;
      }

      &__button {
        margin: 0 0.25vw;
      }
    }
  }
}
