@import "../../styles/mixins";
@import "../../styles/variables";

.CountryCardDetails {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
  height: 50vh;

  width: 100%;

  @include small {
    flex-direction: column;
    height: 140vh;

    margin: 2vh auto;
    width: 85%;
  }

  &__imageFrame {
    position: relative;
    width: 45%;
    height: 80%;

    @include small {
      width: 100%;
      height: 25%;

      @media screen and (min-height: 560px) {
        height: 20%;
      }
    }
  }

  &__image {
    object-fit: cover;
  }

  &__textcontent {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;

    height: 75%;
    width: 45%;
    font-size: 1.6rem;

    &__name {
      font-size: 3rem;
    }

    &__inline {
      display: inline;
    }

    &__info {
      display: flex;

      margin-bottom: 2vh;

      & > * {
        width: 50%;

        @include small {
          width: 100%;
          margin-bottom: 6vh;
        }

        @include mobile {
          margin-bottom: 3vh;
        }
      }

      &__detail {
        font-weight: 600;

        margin: 0.5rem 0;
        display: flex;

        & > span {
          margin-right: 0.25vw;
        }
      }

      &__value {
        font-weight: 300;
        margin-left: 0.25vw;
        display: inline;

        & ~ li {
          &:not(:last-child) {
            &:after {
              content: ", ";
            }
          }
        }
        @include small {
          margin-left: 1vw;
        }
      }

      @include small {
        flex-direction: column;

        &__detail {
          justify-content: flex-start;
        }
      }
    }

    &__borders {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__title {
        font-weight: 600;
      }

      &__button {
        &:link,
        &visited {
          text-decoration: none;
        }
      }
    }

    @include small {
      width: 85%;

      justify-content: flex-start;

      &__name {
        font-size: 2.2rem;
        margin: 8vh 0 5vh;

        @media screen and (min-height: 560px) {
          margin-top: 1vh;
        }
      }

      &__info {
        font-size: 1.4rem;
        &__detail {
          margin-bottom: 2.5vh;
        }
      }

      &__borders {
        /* same as figcaption.textcontent margin-left */
        margin-right: 4vw;
        flex-direction: column;
        align-items: flex-start;

        &__title {
          margin-bottom: 2.5vh;
        }

        &__nav {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120%;
          margin-left: 4%;
        }
      }

      &__title {
        font-weight: 600;
        margin-right: 0.5vw;
      }

      &__button {
        margin: 0 0.5vw;
      }

      &__inline {
        width: 100%;
        margin-bottom: 5vh;
      }
    }

    @include mobile {
      height: 150vh;

      &__name {
        margin-top: 7vh;
      }

      &__borders {
        &__nav {
          margin-left: 6%;
        }
      }
    }
  }

  @include mobile {
    &__imageFrame {
      height: 32%;
    }
  }

  @include tablet-lg {
    height: 140vh;
    &__imageFrame {
      height: max(40%, 40vh);
    }

    &__textcontent {
      &__info {
        font-size: 1.6rem;
      }

      &__name {
        font-size: 3rem;
        margin: 5vh 0;
      }
    }
  }

  @include desktop-sm {
    height: 140vh;

    &__imageFrame {
      height: max(50%, 40vh);
    }
    &__textcontent {
      &__info {
        font-size: 2rem;
      }
      &__name {
        font-size: 4rem;
      }

      &__borders {
        width: 110%;

        font-size: 2rem;
        flex-direction: row;

        &__title {
          min-width: 18rem;
        }
        &__nav {
          margin-left: 0;
          justify-content: flex-start;

          & > * {
            margin-right: 1vw;
          }
        }
      }
    }
  }

  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 85vw;
    height: 65vh;
    margin: 0 8vw;

    &__imageFrame {
      height: 60%;
      width: 65%;
      margin-right: 3%;
    }

    &__textcontent {
      width: 30%;
      height: 60%;

      &__name {
        margin: 2vh 0;
        font-size: 2rem;
      }

      &__info {
        font-size: 1.2rem;

        flex-direction: row;
        width: 100%;
        margin-bottom: 0;

        & > li {
          margin-right: 2vw;
          margin-bottom: 0;
        }

        &__detail {
          margin-bottom: 1vh;
        }
      }

      &__borders {
        margin-top: 5vh;

        width: 100%;

        flex-direction: column;

        &__title {
          min-width: 11rem;
          font-size: 1.2rem;
          margin-top: auto;
          margin-bottom: 1vh;
        }
        &__nav {
          justify-content: flex-start;
          width: 85%;
        }
      }
    }
  }

  @include desktop-md {
    margin: 0 6vw;
    &__imageFrame {
      height: 55%;
      width: 58%;
      margin-right: 5%;
    }
    &__textcontent {
      height: 50%;
      width: 42%;
      &__name {
        font-size: 2.5rem;
      }
      &__info {
        width: 110%;
        font-size: 1.2rem;

        &__detail {
          margin-bottom: 1vh;
        }
      }

      &__borders {
        flex-direction: row;

        &__title {
          min-width: 10rem;
          margin: auto 0;
        }
        margin-top: 4vh;
        margin-right: 2vw;
        width: 110%;
        &__nav {
          width: 140%;
          margin-left: 3%;
        }
      }
    }
  }

  @include desktop-lg {
    border: 1px solid blue;
    width: 87%;

    &__imageFrame {
      height: 65%;
      width: 55%;
      margin-right: 6%;
    }

    &__textcontent {
      height: 55%;
      &__name {
        font-size: 3rem;
      }
      &__info {
        font-size: 1.6rem;
      }
      &__borders {
        &__title {
          font-size: 1.6rem;
          min-width: 14rem;
        }
      }
    }
  }
}
