.LinkButton {
  border: none;
  font-family: var(--font-primary);
  background-color: var(--color-element-primary);
  color: var(--color-text-primary);
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 5vw;
}
