@import "../../styles/mixins";
@import "../../styles/variables";

.LinkButton {
  display: inline-block;
  border: none;
  font-family: var(--font-primary);
  background-color: var(--color-element-primary);
  color: var(--color-text-primary);
  padding: 0.5rem 2vw;
  border-radius: 0.3rem;

  height: 3vh;

  transition: all 0.2s ease-in-out;

  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.35);

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:focus {
    outline: 0.1em var(--color-focus-indicator) solid;
    outline-offset: 0.1rem;
  }

  &:focus:not(:focus-visible) {
    /* when not in focus - undo focus styles*/
    outline: 0;
    outline-offset: 0.25rem;
  }

  &:focus-visible {
    /* keyboard navigators */
    outline: 0.25em var(--color-focus-indicator) dashed;
    outline-offset: 0.25rem;
  }

  @include small {
    height: fit-content;
    padding: 0.5rem 0.75rem;
    width: 28vw;
    font-size: 1.2rem;
    margin: 0.2rem;
  }
}
