@import "../../styles/mixins";
@import "../../styles/variables";

.togglebutton {
  /* hardcoded positioning */
  margin-right: 4.5vw;

  transition: 0.25s ease-in-out;
  background-color: var(--color-element-primary);

  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--color-text-primary);

  border: none;
  padding: 0.65rem;

  &:focus {
    outline: 0.1em var(--color-focus-indicator) solid;
    outline-offset: 0.1rem;
  }

  &:focus:not(:focus-visible) {
    /* when not in focus - undo focus styles*/
    outline: 0;
    outline-offset: 0.25rem;
  }

  &:focus-visible {
    /* keyboard navigators */
    outline: 0.25em var(--color-focus-indicator) dashed;
    outline-offset: 0.25rem;
  }

  &:hover {
    box-shadow: 0 0 5px 2px var(--color-element-primary);
    cursor: pointer;
    transform: scale(1.05);
  }

  &__text {
    font-size: 1.4rem;

    @include small {
      font-size: 1.2rem;
      margin-right: 3vw;
    }
  }
}
