@import "../../styles/mixins";
@import "../../styles/variables";

.SearchFeatures {
  grid-column: 2 / 8;

  display: flex;
  flex-direction: column;

  background-color: var(--color-bg-primary);
  margin-top: 2.5vh;
}

.SearchInput {
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;

  &__inputContainer {
    margin-left: 5.5vw;

    background-color: var(--color-element-primary);
    display: flex;
    align-items: center;

    padding: 0.75rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
    width: 32vw;
  }

  &__input {
    border: none;
    margin-left: 0.5rem;
    color: var(--color-text-primary);
    background-color: var(--color-element-primary);

    &::placeholder {
      color: var(--color-text-primary);
      font-size: 1.2rem;
      opacity: 1;
    }

    &:focus {
      outline: 0.1em var(--color-focus-indicator) solid;
      outline-offset: 0.1rem;
    }

    &:focus:not(:focus-visible) {
      /* when not in focus - undo focus styles*/
      outline: 0;
      outline-offset: 0.25rem;
    }

    &:focus-visible {
      /* keyboard navigators */
      outline: 0.25em var(--color-focus-indicator) dashed;
      outline-offset: 0.25rem;
    }
  }

  &__button {
    /* magnifyingGlass container*/
    border: none;
    background-color: var(--color-element-primary);
    margin: 0.5rem;
    transition: 0.25s all ease-in-out;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    &:focus {
      outline: 0.1em var(--color-focus-indicator) solid;
      outline-offset: 0.1rem;
    }

    &:focus:not(:focus-visible) {
      /* when not in focus - undo focus styles*/
      outline: 0;
      outline-offset: 0.25rem;
    }

    &:focus-visible {
      /* keyboard navigators */
      outline: 0.25em var(--color-focus-indicator) dashed;
      outline-offset: 0.25rem;
    }
  }

  &__magnifyingGlass {
    color: var(--color-text-primary);
    font-size: 1.8rem;

    margin: 0 1rem 0 1.25rem;
  }

  @include small {
    flex-direction: column;
    align-items: flex-start;

    &__inputContainer {
      width: 95%;
      margin: 0 auto 8vh;
    }
  }
}

.SearchFilter {
  margin-right: 5.5vw;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--color-element-primary);
  color: var(--color-text-primary);
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  width: 12vw;
  appearance: none;
  -moz-appearnce: none;
  -webkit-appearance: none;

  /* Custom arrow icon*/
  background-image: var(--chevron-icon);
  background-repeat: no-repeat;
  background-position: calc(100% - 1vw) center; /* x-position y-position*/
  background-size: 1rem;

  transition: 0.25s all ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  &:focus {
    outline: 0.1em var(--color-focus-indicator) solid;
    outline-offset: 0.1rem;
  }

  &:focus:not(:focus-visible) {
    /* when not in focus - undo focus styles*/
    outline: 0;
    outline-offset: 0.25rem;
  }

  &:focus-visible {
    /* keyboard navigators */
    outline: 0.25em var(--color-focus-indicator) dashed;
    outline-offset: 0.25rem;
  }

  @include small {
    width: 60%;
    margin: 0 0 7vh 2.5vw;
    font-size: 1.2rem;
  }
}
