.SearchFeatures {
  border: 2px solid red;
  grid-column: 2 / 8;

  display: flex;
  flex-direction: column;

  background-color: var(--color-bg-primary);
}

.SearchInput {
  border-radius: 3px;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;

  &__inputContainer {
    border: 2px solid yellow;
    background-color: var(--color-element-primary);
    display: flex;
    align-items: center;

    padding: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 0.25rem;
    width: 22vw;
  }

  &__input {
    border: none;
    margin-left: 0.5rem;
    color: var(--color-text-primary);
    background-color: var(--color-element-primary);

    &::placeholder {
      color: var(--color-text-primary);
      font-size: 1.4rem;
    }
  }

  &__button {
    /* magnifyingGlass container*/
    border: none;
    background-color: var(--color-element-primary);
    margin: 0.5rem;
  }

  &__magnifyingGlass {
    color: var(--color-text-primary);
    font-size: 2rem;
  }
}
