.SearchFeatures {
  border: 2px solid red;
  grid-column: 2 / 8;

  display: flex;
  flex-direction: column;
}

.SearchInput {
  border-radius: 3px;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;

  &__inputContainer {
    border: 2px solid yellow;
  }

  &__input {
    border: none;
    margin-left: 0.5rem;
  }

  &__button {
    border: none;
    background-color: var(--color-element-primary);
    margin: 0.25rem;
  }

  &__magnifyingGlass {
    color: var(--color-text-primary);
  }
}
