.CountryCardOverview {
  border: 2px solid lightcoral;
  display: flex;
  flex-direction: column;

  &__imageFrame {
    position: relative;
    width: 30rem;
    height: 10rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}
